{% extends "base.html" %}

{% block content %}
<title>IBZ Networks</title>
<div>
    <h1 class="display-8">IBZ Networks</h1>
    <hr class="my-3">
</div>
 <div class="row">
        <div class="col-md-2">
            <a href="{% url 'sensor_insert' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Sensor Register
            </a>
        </div>
        <div class="col-md-2">
            <a href="{% url 'operator_insert' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Portable Device Register
            </a>
        </div>

        <div class="col-md-2">
            <a href="{% url 'interlock_insert' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Interlocked Device Register
            </a>
        </div>

        <div class="col-md-2">
            <a href="{% url 'display_settings' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Screen settings
            </a>
        </div>
        <div class="col-md-2">
            <a href="{% url 'history_settings' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> History settings
            </a>
        </div>
        <div class="col-md-2">
            <a href="{% url '' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Logo
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <a href="{% url '' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Environmental Sensor Data
            </a>
            <br>
            <a href="{% url '' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> History
            </a>
            <br>
            <a href="{% url '' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Location
            </a>
        </div>
        <div class="col-md-4">
            <p>Main Window</p>
        </div>
        
    </div>
    



 {% endblock content %}