{% extends "base.html" %}
{% load static %}
{% block content %}
<title>IBZ Networks</title>
<div>
    {{ username }}
    <hr class="my-1">
</div>
<br>
 <div class="row">
        <div class="col-md-">
            <a href="{% url 'sensor_insert' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas"></i> Sensor Register
            </a>
        </div>
        <div class="col-md-2">
            <a href="{% url 'operator_insert' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas"></i> Operator Register
            </a>
        </div>

        <div class="col-md-2">
            <a href="{% url 'interlock_insert' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas"></i> Interlocked Device Register
            </a>
        </div>

        <div class="col-md-2">
            <a href="{% url 'display_settings' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas"></i> Screen settings
            </a>
        </div>
        <div class="col-md-2">
            <a href="{% url 'history_settings' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas"></i> History settings
            </a>
        </div>
        <div class="col-md-2">
            <a href="{% url 'offset_settings' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas"></i> Offset Settings
            </a>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div>
            <a href="{% url 'sensor_data' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas"></i> Sensor Data
            </a>
            <br>
            <br>
            <a href="{% url 'graph' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas"></i> History
            </a>
            <br>
            <br>
            <a href="{% url 'map' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas"></i> Location
            </a>
            <br>
            <br>
            <a href="{% url 'in_out' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas"></i>Black Ice I/O
            </a>

        </div>
        <div class="col-md-10" >
            {% block body %}

            {% endblock body %}
        </div>
    </div>
 {% endblock content %}

 {% block customScripts %}
  {% endblock customScripts %}