{% extends 'index.html' %}

{% block body %}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.3.0/js/dataTables.fixedColumns.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.colVis.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.3.0/css/fixedColumns.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css">

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>

<div>
    <table id="example" class="display nowrap" cellspacing="0" width="100%">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <td>Device ID</td>
                <td>MAC</td>
                <td>Date</td>
                <td>Time</td>
                <td>Day</td>
                <td>Air </br>Temp.</td>
                <td>Humidity</td>
                <td>Air </br>Press.</td>
                <td>Accumulated</br> PPT.</td>
                <td>Dust</br> Conc.</td>
                <td>Radiation</br> Illu.</td>
                <td>Solar</br> Power</td>
                <td>Road</br>Temp.</td>
                <td>Noise</br> Level</td>
                <td>Acc_Xout</td>
                <td>Acc_Yout</td>
                <td>Acc_Zout</td>
                <td>GPS_N</td>
                <td>GPS_E</td>
            </tr>
        </thead>
        <tbody>
            {% for i in sensor_data %}
                <tr>
                    <td>{{i.Did}}</td>
                    <td>{{i.MAC_Address}}</td>
                    <td>{{i.Date}}</td>
                    <td>{{i.Time}}</td>
                    <td>{{i.WeekDay}}</td>
                    <td>{{i.Air_Temperature}}</td>
                    <td>{{i.Humidity}}</td>
                    <td>{{i.Air_Pressure}}</td>
                    <td>{{i.Accumulated_PPT}}</td>
                    <td>{{i.Dust_Concentration}}</td>
                    <td>{{i.Radiation_Illuminance}}</td>
                    <td>{{i.Solar_Radiation}}</td>
                    <td>{{i.RoadSurface_Temperature}}</td>
                    <td>{{i.Noise_Level}}</td>
                    <td>{{i.Accelerometer_Xout}}</td>
                    <td>{{i.Accelerometer_Yout}}</td>
                    <td>{{i.Accelerometer_Zout}}</td>
                    <td>{{i.GPS_Location_N}}</td>
                    <td>{{i.GPS_Location_E}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script type="text/javascript">
$('#example').DataTable( {
        dom:            "Bfrtip",
        scrollY:        true,
        scrollX:        true,
        scrollCollapse: true,
        paging:         false,
        buttons:        [ 'colvis', 'copy', 'excel', 'csv' ],
} );
</script>

{% endblock body %}