{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{form.PhoneNo|as_crispy_field}}
    {{form.Password|as_crispy_field}}
    {{form.MacAddress|as_crispy_field}}
    {{form.ManagerName|as_crispy_field}}
    {{form.ManagerPhoneNo|as_crispy_field}}
    {{form.Department|as_crispy_field}}
    {{form.FinalApprover|as_crispy_field}}
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Submit</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'operator_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
    </div>

</form>
{% endblock content %}

