{% extends "base.html" %}

{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Phone Number</td>
            <td>Password</td>
            <td>MAC Address</td>
            <td>Manager Name</td>
            <td>Manager Phone Number</td>
            <td>Department</td>
            <td>Final Approver</td>
            <td>
                <a href="{% url 'operator_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for operator in operator_list %}
            <tr>
                <td>{{ operator.PhoneNo }}</td>
                <td>{{ operator.Password }}</td>
                <td>{{ operator.MacAddress }}</td>
                <td>{{ operator.ManagerName }}</td>
                <td>{{ operator.ManagerPhoneNo }}</td>
                <td>{{ operator.Department }}</td>
                <td>{{ operator.FinalApprover }}</td>
                <td>
                    <a href="{% url 'operator_update' operator.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'operator_delete' operator.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}