{% extends "base.html" %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
<title>Environmental Sensor Devices Status</title>
<div class="row">
    <h4 class="col-md-offset-6">Enviromental Sensor Devices Status</h4>
    <div class="col-lg-7">
        <form action="{% url 'search_results' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-lg-4">
                    <input type="text" name="srh" type="text" placeholder="Search...">
                    <label class="col-sm-2">
                        <button type="submit" class="btn btn-danger">Search</button>
                    </label>
                </div>
            </div>
        </form>
    </div>
    <hr class="my-3">
</div>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Device ID</td>
            <td>IP</td>
            <td>Port</td>
            <td>MAC Address</td>
            <td>Administrative Area</td>
            <td>Installation Route</td>
            <td>Installation Location</td>
            <td>GPS Coordinates</td>
            <td>Interlock</td>
            <td>Actions</td>
            <td>
                <a href="{% url 'sensor_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i>Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for device in sensor_list %}
            <tr>
                <td>{{ device.DeviceID }}</td>
                <td>{{ device.IP }}</td>
                <td>{{ device.Port }}</td>
                <td>{{ device.MacAddress }}</td>
                <td>{{ device.AdministrativeRegion }}</td>
                <td>{{ device.InstallationRoute }}</td>
                <td>{{ device.InstallationLocation }}</td>
                <td>{{ device.Long }}E, {{ device.Lat}}N</td>
                <td>{{ device.InterlockDeviceInformation}}</td>
                <td>
                    <a href="{% url 'sensor_update' device.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg">Edit</i>
                    </a>
                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#dev{{ device.id }}" data-whatever="@fat">Delete</button>
                    <div class="modal fade" id="dev{{ device.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Approver Window</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body modal-content">
                                    <form action="{% url 'sensor_delete' device.id %}" method="post" autocomplete="off">
                                        {% csrf_token %}
                                        {{ form2.as_p }}
                                        <div class = "col-md-4">
                                            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

        {% endfor %}
    </tbody>
</table>
<div class="col-md-2">
    <a href="{% url '' %}" class="btn btn-secondary btn-block btn-lg">
        <i class="fas fa-stream"></i>Close
    </a>
</div>
{% endblock content %}